*, *::before, *::after {
    box-sizing: border-box;
}

main {
    width: 500px;
}

.form {
    display: grid;
    gap: .5rem;
    grid-template-columns: auto 1fr;
}

.form > label {
    text-align: right;
}

.form > input[type=submit] {
    grid-column: 1 / 3;
}